<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title : 'Vytryx Fitness' %></title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <% if (typeof cssFiles !== 'undefined') { %>
        <% cssFiles.forEach(function(css) { %>
            <link rel="stylesheet" href="/css/<%= css %>.css">
        <% }); %>
    <% } %>
</head>
<body>
    <div class="app-container">
        <% if (typeof user !== 'undefined') { %>
            <%- include('../partials/sidebar') %>
            
            <div class="main-content">
                <%- include('../partials/header') %>
                
                <div class="content-container">
                    <%- body %>
                </div>
            </div>
        <% } else { %>
            <%- body %>
        <% } %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="/js/main.js"></script>
    <% if (typeof jsFiles !== 'undefined') { %>
        <% jsFiles.forEach(function(js) { %>
            <script src="/js/<%= js %>.js"></script>
        <% }); %>
    <% } %>
</body>
</html>